html, body {
	background: white;
	height: 100%;
	margin:0;
}

nav {
	background-color: black;
	display: none;
	position: fixed;
	top: 0;
}

.parallax {
	height: 100vh;
	width: 100%;
	background-image: url(img/parallax.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
	align-items: center;
}


.text-lp {
	text-align: center;
	background-color: rgb(100, 100, 100);
	color: white;
	margin: auto;
	width: 50%;
}

